<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recent</h4>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <%= link_to new_user_invitation_path do %>
                    <i class="fa fa-plus" aria-hidden="true"></i> Invite Friends
                  <% end %>
                </div>
              </div>
            </div>
            <div class="inbox_chat">
              <% @chats.each_with_index do |chat, i| %>
                <div class="chat_list" data-chat-id="<%= chat.id %>">
                  <div class="chat_people">
                    <div class="chat_img">
                      <span class="badge"></span>
<!--                      TODO move this code to jquery to update online status through AJAX on each page visit -->
                      <% if chat.is_online %>
                        <span class="dot online"></span>
                      <% else %>
                        <span class="dot offline"></span>
                      <% end %>
                      <%= image_tag('crop.jpeg', {class: 'rounded-circle z-depth-0', alt: 'avatar', height: '35'}) %>
                    </div>
                    <div class="chat_ib">
                      <h5> <%= chat.name || chat.username || chat.email %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="mesgs">
            <div class="msg_history" id="message-history">
              <input type="hidden" id="active-chat-id" value="1">
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="message-box" placeholder="Type a message" />
                <button class="msg_send_btn" id="send_msg" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>